<style>
  .vcenter { 
   display: inline-block;
   vertical-align: middle;
   float: none;
 }

.padding-0{
    padding-right:4px;
    padding-left: 4px;
}

.buttons {
  align-items: center;
  background-color: #337AB7;
  border: 0;
  border-radius: 80px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 580px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.buttons:hover,
.buttons:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.buttons:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.buttons:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}


.myItem{
    width: 30%;
    vertical-align: middle;
    height: 100%;
    line-height:100%;
    vertical-align: middle;
}
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
    <strong>Media Partner</strong>
    </div>
    <ul class="list-group">
    {% for mediapartner in site.data.mediapartners %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 vcenter padding-0"><a href="{{  mediapartner.link }}"><img src="{{ '/assets/images/supporters/' | append: mediapartner.logo | relative_url }}" alt="{{mediapartner.name}}"></a></div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-xl-2 vcenter padding-0"><button class="buttons" role="button" onclick="location.href='{{ site.url | append: site.baseurl | append: mediapartner.landing }}'">Meet {{ mediapartner.name }}!</button></div>
      </div>
    </li>
    {% endfor %}
    </ul>
</div>