<div class="panel panel-primary">
    <div class="panel-heading">
    <strong>Sponsors & Supporters</strong>
    </div>
    <ul class="list-group">
    {% for supporter in site.data.supporters %}
    <li class="list-group-item">
      <div class="row">     
      {% if supporter.link %} 
      <div class="col-sm-7 col-md-9 vcenter"><a href="{{ supporter.link }}"><img class="img-responsive center-block" src="{{ '/assets/images/supporters/' | append: supporter.logo | relative_url }}" alt="{{supporter.name}}"></a></div><div class="col-sm-4 col-md-3 text-center text-muted vcenter">{% if supporter.tier %}{{supporter.tier | capitalize }} {% endif%}{{supporter.type}}</div>
      </div>
      {% elsif supporter.landing %}
      <div class="col-sm-7 col-md-9 vcenter"><a href="{{ site.url | append: site.baseurl | append: supporter.landing }}"><img class="img-responsive center-block" src="{{ '/assets/images/supporters/' | append: supporter.logo | relative_url }}" alt="{{supporter.name}}"></a></div><div class="col-sm-4 col-md-3 text-center text-muted vcenter">{% if supporter.tier %}{{supporter.tier | capitalize }} {% endif%}{{supporter.type}}</div>
      </div>
      {% endif %}
    </li>
    {% endfor %}
    </ul>
</div>