<div class="panel panel-primary">
    <div class="panel-heading">
    <strong>Organisers</strong>
    </div>
    <ul class="list-group">
    {% for supporter in site.data.supporters %}
    <li class="list-group-item">
      <div class="row">     
      <div class="col-sm-7 col-md-9 vcenter"><a href="{{ supporter.link }}"><img class="img-responsive center-block" src="{{ '/assets/images/supporters/' | append: supporter.logo | relative_url }}" alt="{{supporter.name}}"></a></div>
      </div>
    </li>
    {% endfor %}
    </ul>
</div>